@media only screen and (max-width:749px){
    .myaccount_body .left{
        float:none;
        width:100%;
    }
    
    .myaccount_body .right{
        float:none;
        width:100%;
    }
    
    .myaccount_body input {
        width:100%;
    }
    
    .myaccount_body select {
        width:100% !important;
        margin-bottom:15px;
    }
    
    .myaccount_body .submit {
        width:100%;
    }
    
    .hero-wrapper {
        margin-bottom:0;
    }
    
    .hero-wrapper .img_slider {
        height:300px;
    }
    
    .small--one-half {
        width:100% !important;
    }
    
    #ProductPhoto {
        margin-left:auto;
        margin-right:auto;
    }
}
