@charset "utf-8";
/* CSS Document */

/*@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese'; */

@font-face {
    font-family: Roboto;
    src: url("Roboto/Roboto-Regular.ttf"); 
    font-weight:400;
}
@font-face {
    font-family: Roboto;
    src: url("Roboto/Roboto-Medium.ttf"); 
    font-weight:500;
}
@font-face {
    font-family: Roboto;
    src: url("Roboto/Roboto-Thin.ttf"); 
    font-weight:200;
}
@font-face {
    font-family: Roboto;
    src: url("Roboto/Roboto-Light.ttf"); 
    font-weight:300;
}
@font-face {
    font-family: Roboto;
    src: url("Roboto/Roboto-Bold.ttf"); 
    font-weight:600;
}
@font-face {
    font-family: Roboto;
    src: url("Roboto/Roboto-Black.ttf"); 
    font-weight:700;
}

