@charset "utf-8";
* {
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}

body,html {
    background-color:#eaeaea;
    height:100%;
}

.login_block {
    background-color:#fff;
    width:550px;
    height:340px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto
}

.login_block .login_logo {
    width:100%;
    text-align:center;
    margin-top:30px;
    margin-bottom:20px;
}

.login_title {
    text-align: center;
    font-size:20px;
    margin-bottom:20px;
}

#login_form input {
    position:relative;
    border:2px solid #d1d1d1;
    width:235px;
    height:40px;
    margin-left:21px;
    margin-bottom:0px;
    font-size:16px;
    padding-left:250px;
    outline:none;
    padding-right:75px;
}

#login_form input:nth-of-type(2) {
    border-top:none;
    order-bottom:2px solid #d1d1d1 !important;
}

#login_form input {
    padding-right:15px;
}

#login_form label {
    position:absolute;
    z-index:100000;
    font-size:16px;
    font-weight:500;
    left:50px;
}

#login_form label[for=login_login] {
    top:178px;
}

#login_form label[for=login_password] {
    top:220px;
}

#login_form input[type=submit] {
    padding:0;
    width:504px;
    border-radius:0;
    border:none;
    background-color:#0c313a;
    color:#fff;
    font-size:18px;
    font-weight:300;
    margin-top:20px;
    text-align:center;
    cursor:pointer;
    height:40px;
    box-shadow: none;
}

#login_form input[type=submit]:hover {
    background-color:#ff8400;
}

.login_error_message {
    position:absolute;
    width:100%;
    height:40px;
    background-color:rgba(252, 0, 53, 0.9);
    color:#fff;
    font-size:20px;
    text-align:center;
    line-height:40px;
    vertical-align:middle;
}

/*Стили для главной страницы */

#admin_m_overhead {
    width:1170px;
    height:40px;
    background-color:#1f1e1e;
    margin-left:auto;
    margin-right:auto;
}

#title {
    float:left;
    margin-left:20px;
    line-height:40px;
    vertical-align:middle;
    color:#fff;
    font-size:16px;
}

#exit {
    float:right;
    margin-right:20px;
    line-height:40px;
    vertical-align:middle;
    color:#fff;
    font-size:16px;
}

#exit a {
    cursor:pointer;
    color:#b3b3b3;
    text-decoration:none;
}

#exit a:hover {
    text-decoration:underline;
}

#main {
    float:right;
    margin-right:40px;
    line-height:40px;
    vertical-align:middle;
    color:#b3b3b3;
    font-size:16px;
    text-decoration:none;
    cursor:pointer;
}

#admin_great_container {
    width:1170px;
    min-height:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff;
    padding-bottom:100px;
}

#admin_left_sidebar {
    float:left;
    width:195px;
    min-height:100%;
}
#main_page {
    width:197px;
    height:100px;
    border:1px solid #f1f1f1;
    border-left:none;
    position:relative;
    margin-bottom:-1px;
}

#main_page a {
    font-size:14px;
    font-weight:300;
    margin-left:20px;
    color:#010101;
    text-decoration:none;
    margin-top:auto;
    position:absolute;
    bottom:5px;
}

#main_page img {
    position:absolute;
    top:10px;
    left:20px;
    width:30px;
    height:auto;
}

#main_menu {
    list-style:none;
    width:195px;
}

#main_menu li {
    width:177px;
    height:35px;
    padding-left:20px;
    border:1px solid #f1f1f1;
    border-left:none;
    line-height:35px;
    margin-bottom:-1px;
    cursor:pointer;
    font-size:14px;
    font-weight:300;
    color:#010101;
    text-decoration:none;
    position:relative;
}

#main_menu li:hover {
    background-color:#f1f1f1;
}

#main_menu a {
    text-decoration:none;
}

#main_menu span.notice {
    color:#000;
    position:absolute;
    font-weight:400;
    font-size:14px;
    top:0;
    right:10px;
}

li.active span.notice {
    color:#fff !important;
}
#admin_center_block {
    float:right;
    width:973px;
    min-height:100%;
    background-color:#fff;
    position:relative;
}

#admin_center_block #center_title {
    width:943px;
    height:40px;
    padding-left:30px;
    font-size:16px;
    font-weight:300;
    line-height:40px;
    vertical-align:middle;
    border-bottom:1px solid #f1f1f1;
}

#admin_center_block #center_title a {
    color:#000;
    text-decoration:none;
    font-weight:400;
}

.active {
    background-color:#0c313a;
    color:#fff !important;
}

.active:hover {
    background-color:#0c313a !important;
    color:#fff !important;
}

#center_header {
    width:943px;
    height:40px;
    background-color:#f1f1f1;
    font-weight:16px;
    padding-left:30px;
    line-height:40px;
    vertical-align:middle;
}

#center_header span {
    font-weight:500;
}

#center_header a {
    position:relative;
    margin-top:-1px;
    float:right;
    margin-right:30px;
    color:#fff;
    background-color:#0c313a;
    text-decoration:none;
    height:41px;
    padding:0 20px;
    font-weight:400;
}

#center_header a:hover {
    background-color:#ff8400;
}

#center_header a.product_link {
    float:none;
    background-color:transparent;
    margin-left:30px !important;
    font-weight:400 !important;
    color:#000 !important;
    text-decoration:none !important;
}

#center_header a.product_link:hover {
    color:#ff8400 !important;
}

#search_form {
    position:absolute;
    right:250px;
    top:49px;
}

#search_form input[type=text] {
    height:20px;
    width:270px;
    padding-left:30px;
    outline:none;
}

#search_form input[type=submit] {
    background-color:#0c313a;
    color:#fff;
    border:none;
    outline:none;
    padding:4px 3px;
    cursor:pointer; 
    display:none;
    position:relative;
}

#label_product:before {
    content:'';
    background-image:url(../../img/tool.png);
    background-repeat:no-repeat;
    background-size:100%;
    position:absolute;
    top:4px;
    left:4px;
    width:16px;
    height:16px;
    opacity:0.3;
}

#product_block {
    width:969px;
    min-height:100px;
    margin-left:5px;
}

#product_block ul {
    width:969px;
    font-size:16px;
}

#product_block ul li {
    font-size:0px;
    margin-left:-5px;
    margin-bottom:-5px;
    display:inline-block;
    width:25%;
    height:350px;
    border:1px solid #f1f1f1;
    border-top:none;
    overflow:hidden;
    position:relative;
}

.product_img {
    margin-left:1px;
    margin-top:1px;
    width:240px;
    height:240px;
    text-align:center;
    line-height:240px;
}

.product_img img{
    vertical-align:middle;
}

.product_title {
    width:220px;
    margin-left:10px;
    margin-right:10px;
    height:87px;
    max-height:87px;
    overflow:hidden;
    text-align:center;
}

.product_title a {
    text-decoration:none;
    font-size:14px;
    color:#000;
    font-weight:500;
    text-align:center;
}

.product_title a:hover {
    color:#ff8400;
}

#product_block ul li a.product_change {
    position:absolute;
    left:15px;
    bottom:3px;
    font-size:14px;
    color:#6b6b6b;
    text-decoration:none;
}

#product_block ul li a.product_delete {
    position:absolute;
    right:15px;
    bottom:3px;
    font-size:14px;
    color:#c30b0f;
    text-decoration:none;
    cursor:pointer;
}

#reviews_list {
    list-style:none;
}

#reviews_list li {
    width:90%;
    border-bottom:1px solid #eaeaea;
    padding-bottom:20px;
}

#reviews_list li p.review_for {
    margin-left:30px;
    font-weight:400;
    margin-top:20px;
    margin-bottom:20px;
    font-size:16px;
}

#reviews_list li p.review_for span {
    font-weight:500;
}

#reviews_list li p.review_for span a {
    color:#000;
    text-decoration:none;
}

#reviews_list li p.review_for span a:hover {
    color:#ff8400;
}

#reviews_list li p.review_name {
    margin-left:30px;
    margin-top:15px;
    font-weight:400;
    font-size:18px;
    color:#5b5b5b;
}

#reviews_list li p.review_name img {
    width:20px;
    height:20px;
    margin-right:10px;
}

#reviews_list .review_plus {
    margin-left:30px;
    margin-top:20px;
    font-size:16px;
}

#reviews_list .review_plus_p {
    margin-left:30px;
    margin-top:10px;
    font-size:14px;
}

#reviews_list .review_minus {
    margin-left:30px;
    margin-top:20px;
    font-size:16px;
}

#reviews_list .review_minus_p {
    margin-left:30px;
    margin-top:10px;
    font-size:14px;
}

#reviews_list .review_comment {
    margin-left:30px;
    margin-top:20px;
    font-size:16px;
}

#reviews_list .review_comment_p {
    margin-left:30px;
    margin-top:10px;
    font-size:14px;
    margin-bottom:20px;
}

#reviews_list span.date {
    margin-top:30px;
    margin-left:30px;
    color:#8b8b8b;
    font-size:14px;
}

#reviews_list a.good {
    margin-top:20px;
    margin-left:30px;
    background-color:rgba(0, 141, 46, 0.9);
    color:#fff;
    text-decoration:none;
    padding:5px 20px;
}

#reviews_list a.bad {
    margin-top:20px;
    margin-left:30px;
    background-color:rgba(252, 0, 53, 0.9);
    color:#fff;
    text-decoration:none;
    padding:5px 20px;
}

#reviews_list .review_mark {
    margin-left:30px;
    margin-top:15px;
    margin-bottom:15px;
}

#reviews_list .review_mark span {
    font-weight:500;
}

.review_empty {
    margin-left:30px;
    margin-top:30px;
    font-size:16px;
}

/* Стили для страницы добавления товара */

#add_product_form label {
    margin-left:30px;
    font-weight:400;
}

.form_title_cat {
    margin-top:30px;
    width:943px;
    height:60px;
    padding-left:30px;
    border-bottom:1px solid #aeaeae;
    line-height:60px;
    vertical-align:middle;
    font-size:16px;
    font-weight:500;
}

.form_title_cat span {
    font-weight:300;
    color:#6e6e6e;
    margin-left:170px;
}

#product_cat {
    width:400px;
    margin-left:30px;
    margin-top:20px;
    font-size:16px;
    font-weight:400;
    outline:none;
}

#product_cat option {
    font-size:16px;
    font-weight:400;
    outline:none;
}

#product_add_cat {
    margin-left:40px;
    color:#000;
    text-decoration:underline;
    cursor:pointer;
    font-weight:400;
}

#product_subcat {
    width:400px;
    margin-left:30px;
    margin-top:20px;
    font-size:16px;
    font-weight:400;
    outline:none;
}

#product_subcat option {
    font-size:16px;
    font-weight:400;
    outline:none;
}

#product_add_subcat {
    margin-left:40px;
    color:#000;
    text-decoration:underline;
    cursor:pointer;
    font-weight:400;
}

#product_brand {
    width:400px;
    margin-left:30px;
    margin-top:20px;
    font-size:16px;
    font-weight:400;
    outline:none;
}

#product_brand option {
    font-size:16px;
    font-weight:400;
    outline:none;
}

#product_add_cat {
    margin-left:40px;
    color:#000;
    text-decoration:underline;
    cursor:pointer;
    font-weight:400;
}

#product_add_brand {
    margin-left:40px;
    color:#000;
    text-decoration:underline;
    cursor:pointer;
    font-weight:400;
}

#product_title {
    margin-left:30px;
    margin-top:10px;
    height:25px;
    width:390px;
    padding-left:10px;
    font-size:16px;
    outline:none;
}

.product_features {
    margin-left:30px;
    margin-top:20px;
    height:25px;
    width:390px;
    padding-left:10px;
    font-size:16px;
    outline:none;
}

.product_add_features {
    margin-left:30px;
    color:#000;
    text-decoration:underline;
    cursor:pointer;
    font-weight:400;
}

.editor {
    margin-left:30px;
    margin-top:20px;
    width:800px;
    resize:none;
}

.editor textarea {
    resize:none;
}

.product_big_features_title {
    margin-left:30px;
    margin-top:10px;
    height:25px;
    width:390px;
    padding-left:10px;
    font-size:16px;
    outline:none;
}

.editor_mini {
    margin-top:20px;
    margin-left:30px;
    width:400px;
    border-bottom:1px solid #c6c6c6;
}

.editor_mini textarea {
    width:380px;
    height:90px;
    resize:none;
    outline:none;
    padding:5px 10px;
}

.product_add_features_big {
    margin-top:50px;
    text-decoration:underline;
    cursor:pointer;
    margin-left:30px;
}

label[for=sale] {
    margin-left:20px !important;
}

#sale {
    margin-top:30px;
    margin-left:30px;
    margin-bottom:20px;
    outline:none;
}

#old_price {
    width:150px;
    height:20px;
    padding-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:30px;
    outline:none;
}

#price {
    width:150px;
    height:20px;
    padding-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:30px;
    outline:none;
}

#main_img_title {
    margin-top:20px;
    margin-left:30px;
}

#main_image {
    margin-left:30px;
}

#add_img_title {
    margin-top:30px;
    margin-left:30px;
}

#add_img_title span {
    margin-left:70px;
    font-size:14px;
    color:#6e6e6e;
}

.add_image {
    margin-left:30px;
    margin-bottom:20px;
}

.product_add_images {
    margin-top:50px;
    text-decoration:underline;
    cursor:pointer;
    margin-left:30px;
}

label[for=visible] {
    margin-left:20px !important;
}

#visible {
    margin-top:30px;
    margin-left:30px;
    margin-bottom:20px;
    outline:none;
}

label[for=available] {
    margin-left:20px !important;
}

#available {
    margin-top:10px;
    margin-left:30px;
    margin-bottom:20px;
    outline:none;
}

label[for=news] {
    margin-left:20px !important;
}

#news {
    margin-top:10px;
    margin-left:30px;
    margin-bottom:20px;
    outline:none;
}

label[for=popular] {
    margin-left:20px !important;
}

#popular {
    margin-top:10px;
    margin-left:30px;
    margin-bottom:20px;
    outline:none;
}

label[for=seo_description] {
    margin-top:30px;
}

#seo_description {
    margin-left:30px;
    margin-top:20px;
    margin-bottom:30px;
    width:600px;
    height:150px;
    padding:5px;
    resize:none;
}

#seo_keys {
    margin-left:30px;
    margin-top:20px;
    margin-bottom:30px;
    width:600px;
    height:100px;
    padding:5px;
    resize:none;
}

#add_product_button {
    margin-top:80px;
    margin-left:800px;
    color:#fff;
    background-color:#0c313a;
    border:none;
    text-decoration:none;
    height:41px;
    padding:0 20px;
    font-weight:400;
    cursor:pointer;
    outline:none;
}

#add_product_button:hover {
    background-color:#ff8400;
}

#pre_loading {
    top:0;
    position:fixed;
    z-index:15000;
    width:100%;
    height:100%;
    background-color:#fff;
    opacity:0.85;
    overflow:hidden;
    display:none;
}

#pre_loading img {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    position:fixed;
}

.error_message {
    margin-top:none !important;
    margin-bottom:none !important;
    padding:5px 30px;
    color:#fff;
    background-color:rgba(252, 0, 53, 0.9);
}

.user_help {
    position:absolute;
    background-color:rgba(0, 141, 46, 0.9);
    color:#fff;
    font-size:14px;
    padding:3px;
    padding-left:10px;
    padding-right:10px;
    left:500px;
    min-width:200px;
    font-weight:400;
}

.user_help img {
    position:absolute;
    top:6px;
    left:-9px;
    width:10px;
    height:10px;
}

.ok_message {
    margin-top:none !important;
    margin-bottom:none !important;
    padding:5px 30px;
    color:#fff;
    background-color:rgba(0, 141, 46, 0.9);
}

.black{
    top:0;
    position:fixed;
    z-index:5000;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.85;
    overflow:hidden;
    display:none;
}

#add_category {
    width:550px;
    height:200px;
    position:absolute;
    z-index:7000;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background-color:#fff;
    border-radius:3px;
    display:none;
}

#add_category_title {
    font-size:22px;
    text-align:center;
    margin-top:25px;
    margin-bottom:25px;
}

#add_category_form input {
    position:relative;
    border:2px solid #d1d1d1;
    width:235px;
    height:40px;
    margin-left:21px;
    margin-bottom:0px;
    font-size:16px;
    padding-left:250px;
    outline:none;
    border-bottom:2px solid #d1d1d1;
    padding-right:15px;
}

#add_category_form label {
    position:absolute;
    z-index:100000;
    font-size:16px;
    font-weight:500;
    left:50px;
    top:90px;
}

#add_category_form input[type=submit] {
    padding:0;
    width:504px;
    border-radius:0;
    border:none;
    background-color:#0c313a;
    color:#fff;
    font-size:18px;
    font-weight:300;
    margin-top:20px;
    text-align:center;
    cursor:pointer;
    height:40px;
    box-shadow: none;
}

#add_category_form input[type=submit]:hover {
    background-color:#ff8400;
}

.add_category_cancel {
    position:absolute;
    right:10px;
    top:10px;
    width:30px;
    height:30px;
    cursor:pointer;
}

.add_category_cancel img {
    width:30px;
    height:30px;
}

#add_subcategory {
    width:550px;
    height:230px;
    position:absolute;
    z-index:7000;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background-color:#fff;
    border-radius:3px;
    display:none;
}

#add_subcategory_title {
    font-size:22px;
    text-align:center;
    margin-top:25px;
    margin-bottom:25px;
}

#add_subcategory_form select {
    position:relative;
    border:2px solid #d1d1d1;
    width:504px;
    height:30px;
    margin-left:21px;
    margin-bottom:-2px;
    font-size:16px;
    padding-left:245px;
    outline:none;
    border-bottom:2px solid #d1d1d1;
    padding-right:15px;
}

#add_subcategory_form option {
    font-size:16px;
    font-weight:400;
}

#add_subcategory_form input {
    position:relative;
    border:2px solid #d1d1d1;
    width:235px;
    height:40px;
    margin-left:21px;
    margin-bottom:0px;
    font-size:16px;
    padding-left:250px;
    outline:none;
    border-bottom:2px solid #d1d1d1;
    padding-right:15px;
}

#add_subcategory_form label {
    position:absolute;
    z-index:100000;
    font-size:16px;
    font-weight:500;
    left:50px;
    top:90px;
}

#add_subcategory_form label[for=select_cat] {
    top:83px;
}

#add_subcategory_form label[for=add_subcategory_input] {
    top:118px;
}

#add_subcategory_form input[type=submit] {
    padding:0;
    width:504px;
    border-radius:0;
    border:none;
    background-color:#0c313a;
    color:#fff;
    font-size:18px;
    font-weight:300;
    margin-top:20px;
    text-align:center;
    cursor:pointer;
    height:40px;
    box-shadow: none;
}

#add_subcategory_form input[type=submit]:hover {
    background-color:#ff8400;
}

.add_subcategory_cancel {
    position:absolute;
    right:10px;
    top:10px;
    width:30px;
    height:30px;
    cursor:pointer;
}

.add_subcategory_cancel img {
    width:30px;
    height:30px;
}

#add_brand {
    width:550px;
    height:200px;
    position:absolute;
    z-index:7000;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background-color:#fff;
    border-radius:3px;
    display:none;
}

#add_brand_title {
    font-size:22px;
    text-align:center;
    margin-top:25px;
    margin-bottom:25px;
}

#add_brand_form input {
    position:relative;
    border:2px solid #d1d1d1;
    width:235px;
    height:40px;
    margin-left:21px;
    margin-bottom:0px;
    font-size:16px;
    padding-left:250px;
    outline:none;
    border-bottom:2px solid #d1d1d1;
    padding-right:15px;
}

#add_brand_form label {
    position:absolute;
    z-index:100000;
    font-size:16px;
    font-weight:500;
    left:50px;
    top:90px;
}

#add_brand_form input[type=submit] {
    padding:0;
    width:504px;
    border-radius:0;
    border:none;
    background-color:#0c313a;
    color:#fff;
    font-size:18px;
    font-weight:300;
    margin-top:20px;
    text-align:center;
    cursor:pointer;
    height:40px;
    box-shadow: none;
}

#add_brand_form input[type=submit]:hover {
    background-color:#ff8400;
}

#delete_brand {
    padding-top:7px;
    margin-left:30px;
    margin-bottom:-26px;
    text-decoration:underline;
    cursor:pointer;
    display:none;
}

#delete_cat {
    padding-top:7px;
    margin-left:30px;
    margin-bottom:-45px;
    text-decoration:underline;
    cursor:pointer;
    display:none;
}

#delete_subcat {
    padding-top:7px;
    margin-left:30px;
    margin-bottom:-48px;
    text-decoration:underline;
    cursor:pointer;
    display:none;
}

.image_box {
    width:200px;
    height:200px;
    text-align:center;
    line-height:200px;
    position:relative;
}

.image_box a img{
    position:absolute;
    top:-10px;
    right:0px;

}

.image_box img {
    vertical-align:middle;
}

.image_box .apply_template {
    position:absolute;
    padding:0;
    line-height:20px;
    height:20px;
    left:2px;
    bottom:-25px;
    font-size:14px;
    color:rgba(0, 141, 46, 0.9);
    cursor:pointer;
}

.image_box .delete_template {
    position:absolute;
    padding:0;
    line-height:20px;
    height:20px;
    right:2px;
    bottom:-25px;
    font-size:14px;
    color:rgba(252, 0, 53, 0.9);
    cursor:pointer;
}

.image_box .template_name {
    position:absolute;
    left:0;
    bottom:-2px;
    width:200px;
    height:30px;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    background-color:rgba(0, 0, 0, 0.7);
    color:#fff;
    font-size:14px;
    font-weight:400;
}

.image_box .template_active {
    position:absolute;
    left:0;
    top:-2px;
    width:200px;
    height:30px;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    background-color:rgba(255, 132, 0, 0.9);;
    color:#fff;
    font-size:14px;
    font-weight:400;
}

#template_list {
    list-style:none;
    padding-bottom:50px;
    min-height:100px;
}

#template_list li {
    display:inline-block;
    margin-top:30px;
    margin-bottom:30px;
    min-height:200px;
}

#main_image {
    margin-left:30px;
    margin-bottom:20px;
}

#add_image {
    margin-left:30px;
    margin-bottom:20px;
}

#add_image li {
    line-height:150px;
    width:150px;
    height:150px;
    display:inline-block;
    margin-right:1px;
}

.new_link {
    color:#fff !important;
    text-decoration:none;
    margin-left:20px;
}

.new_link:hover {
    text-decoration:underline;
}

.settings {
    padding-left:30px;
    width:943px;
    height:40px;
    border-bottom:1px solid #f1f1f1;
    line-height:40px;
}

.settings p,.settings label,.settings input, .settings form {
    display:inline-block;
    vertical-align:middle;
}
.settings form {
    float:right;
}

.settings p {
    font-weight:500;
    font-size:16px;
    margin-right:40px;
}

.settings input {
    width:40px;
    margin-left:20px;
    margin-right:50px;
}

.settings input#slider_speed {
    margin-right:0 !important;
}

.settings input[type=submit] {
    width:80px;
    height:20px;
    margin-right:30px;
    background-color:#0c313a;
    color:#fff;
    border:none;
    outline:none;
    cursor:pointer;
    margin-left:80px;
    padding:2px 3px;
}

.settings input[type=submit]:hover {
    background-color:#ff8400;
}

#slider_images {
    width:913px;
    list-style:none;
    margin-left:30px;
}

#slider_images li {
    width:913px;
    height:200px;
    border-bottom:1px solid #f1f1f1;
    position:relative;
}

#slider_images li a {
    position:absolute;
    top:15px;
    right:15px;
}


#slider_images li div.slider_image {
    width:200px;
    height:200px;
    text-align:center;
    line-height:200px;
    float:left;
}

#slider_images li div.slider_image img {
    vertical-align: middle;
}

#slider_images li div.slider_image input {

}

#slider_images li input[type=text] {
    width:440px;
    height:25px;
    position:absolute;
    right:60px;
    border:1px solid #979797;
    outline:none;
    padding-left:10px;
    font-size:16px;
}

#slider_images li label {
    position:absolute;
    left:270px;
}

#slider_images li input.slider_title {
    top:70px;
}

#slider_images li label.label_title {
    top:76px;
}

#slider_images li label.label_link {
    top:146px;
}

#slider_images li input.slider_link {
    top:140px;
}

#add_slide {
    margin-left:60px;
    margin-top:30px;
    cursor:pointer;
    text-decoration:underline;
}

#slider_apply {
    float:right;
    margin-right:30px;
    margin-top:15px;
    border:none;
    background-color:#0c313a;
    color:#fff;
    padding:5px 10px;
    cursor:pointer;
    outline:none;
}

#slider_apply:hover {
    background-color:#ff8400;
}

#slider_add {
    float:right;
    margin-right:60px;
    border:none;
    background-color:#0c313a;
    color:#fff;
    padding:5px 10px;
    cursor:pointer;
    outline:none;
}

#slider_add:hover {
    background-color:#ff8400;
}

/*Стили для страницы с настройками */

#settings_form label {
    margin-left:30px;
    font-weight:400;
}

#settings_form input {
    margin-left:30px;
    margin-top:10px;
}

#shop_title,#shop_phone_title,#shop_phone,#shop_copy_title{
    margin-left:30px;
    margin-top:10px;
    height:25px;
    width:390px;
    padding-left:10px;
    font-size:16px;
    outline:none;
}

#shop_phone_title,#shop_copy_title {
    margin-bottom:20px;
}

#save_settings {
    float:right;
    margin-top:80px;
    margin-right:30px;
    color:#fff;
    background-color:#0c313a;
    border:none;
    text-decoration:none;
    height:41px;
    padding:0 20px;
    font-weight:400;
    cursor:pointer;
    outline:none;
}

#save_settings:hover {
    background-color:#ff8400;
}

#shop_copy {
    margin-left:30px;
    margin-top:20px;
    margin-bottom:30px;
    width:390px;
    height:100px;
    padding:5px;
    resize:none;
}

#settings_form .image_box {
    margin-left:30px;
}

#new_admin {
    padding:10px 10px;
    color:#fff;
    text-decoration:none;
    background-color:#0c313a;
    float:right;
    margin-right:30px;
    margin-top:30px;
}

#new_admin:hover {
    background-color:#ff8400;
}

#settings_form ul {
    list-style:none
}

#settings_form ul li {
    position:relative;
    margin-bottom:20px;
    height:25px;
}

#settings_form ul li input{
    width:470px;
    padding-left:15px;
    padding-right:15px;
    height:25px;
    position:absolute;
    top:-13px;
    right:100px;
    outline:none;
}

#settings_form input[type=checkbox] {
    margin-left:30px;
    margin-right:10px;
}

#settings_form input[type=submit] {
    float:right;
    margin-top:30px;
    padding:10px 10px;
    color:#fff;
    text-decoration:none;
    background-color:#0c313a;
    float:right;
    margin-right:30px;
    margin-bottom:60px;
    border:none;
    outline:none;
    cursor:pointer;
}

#settings_form input[type=submit]:hover{
    background-color:#ff8400;
}

#admin_list {
    list-style:none;
    margin-top:15px;
}

#admin_list li{ 
    width:973px;
    height:152px;
    border-bottom:1px solid #eaeaea;
    margin-bottom:15px;
}

#admin_list li p {
    margin-left:30px;
}

#admin_list li p.admin_name {
    font-size:18px;
    font-weight:500;
    margin-left:20px;
}

#admin_list li p.admin_login {
    margin-top:17px;
    margin-left:50px;
}

#admin_list li p.admin_email {
    margin-left:50px;
}

#admin_list li p.admin_phone {
    margin-left:50px;
}

#admin_list li p.admin_position {
    font-size:14px;
    color:#525252;
}

#admin_list li p.admin_rights {
    margin-top:15px;
    margin-left:50px;
}

#admin_list li p span {
    margin-left:10px;
    font-weight:400;
    color:#525252;
}

.admin_change {
    float:right;
    margin-right:10px;
    text-decoration:none;
    color:#000;
}

.admin_delete {
    float:right;
    margin-right:30px;
    text-decoration:none;
    color:#c30b0f;
    cursor:pointer;
}

.admin_change:hover {
    text-decoration:underline;
}
.admin_delete:hover {
    text-decoration:underline;
}

.admin_change {
    cursor:pointer;
}



#user_list {
    list-style:none;
    margin-top:15px;
}

#user_list li{ 
    width:973px;
    height:120px;
    border-bottom:1px solid #eaeaea;
    margin-bottom:15px;
}

#user_list li p {
    margin-left:30px;
}

#user_list li p.user_name {
    font-size:18px;
    font-weight:500;
    margin-left:20px;
}

#user_list li p.user_email {
    font-size:14px;
    color:#525252;
}

#user_list li p.admin_rights {
    margin-top:15px;
    margin-left:50px;
}

#user_list li p.user_address {
    margin-top:10px;
    margin-left:40px;
    color:#000 !important;
    font-weight:400;
}

#user_list li p.user_orders {
    margin-left:40px;
    margin-top:3px;
}

#user_list li p.user_phone {
    margin-top:3px;
    margin-left:40px;
}

#user_list li p span {
    margin-left:10px;
    font-weight:400;
    color:#525252;
}

.user_change {
    float:right;
    margin-right:10px;
    text-decoration:none;
    color:#000;
}

.user_delete {
    float:right;
    margin-right:30px;
    text-decoration:none;
    color:#c30b0f;
    cursor:pointer;
}

.user_change:hover {
    text-decoration:underline;
}
.user_delete:hover {
    text-decoration:underline;
}

.user_change {
    cursor:pointer;
}

#order_list {
    list-style:none;
}

#order_list li{
    border-bottom:1px solid #cccccc;
    position:relative;
}

.order_more {
    margin-top:5px;
    float:right;
    margin-right:30px;
    background-color:#0c313a;
    padding:3px 5px;
    color:#fff;
    font-size:12px;
    cursor:pointer;
    text-decoration:none;
}

.order_more:hover {
    background-color:#ff8400;
}

.order_date {
    font-size:12px;
    color:#5f5f5f;
    margin-left:30px;
    margin-top:7px;
}

.order_id {
    margin-top:5px;
    margin-left:40px;
    font-size:14px;
}

.order_id span {
    font-weight:500;
}

.order_status {
    margin-top:2px;
    margin-left:40px;
    margin-bottom:5px;
    font-size:14px;
}

span.order_no {
    color:rgba(252, 0, 53, 0.9);
    font-weight:500;
}

span.order_yes {
    color:rgba(0, 141, 46, 0.9);
    font-weight:500;
}


.order_sum {
    position:absolute;
    right:30px;
    bottom:3px;
    font-size:16px;
    font-weight:500;
    font-size:14px;
}

.order {
    margin-left:30px;
    margin-top:10px;
    border-bottom:1px solid #eaeaea;
    margin-right:100px;
}

.order span {
    font-weight:500;
    position:absolute;
    left:300px;
}

.order_product_header {
    list-style:none;
    margin-left:30px;
    margin-right:30px;
    border-bottom:1px solid #eaeaea;
}

.order_product_header li {
    height:25px;
    display:inline-block;
    font-weight:500;
    padding-left:30px;
}

.order_number {
    padding-left:10px !important;
    width:40px;
}

.order_title {
    width:470px;
}

.order_count {
    width:170px;
}

.order_price {
    width:120px;
}

.order_product_list {
    list-style:none;
    margin-left:30px;
    margin-right:30px;
    border-bottom:1px solid #eaeaea;
}

.order_product_list li div {
    height:30px;
    display:inline-block;
    margin:0;
    margin-top:5px;
    float:left;
    line-height:30px;
    vertical-align:middle;
}

.order_product_list li div.product_number {
    padding-left:10px;
    width:42px;
}
.order_product_list li div.product_title {
    text-align:left;
    padding-left:30px;
    width:474px;
}
.order_product_list li div.product_count {
    padding-left:30px;
    width:174px;
}
.order_product_list li div.product_price {
    padding-left:30px;
    width:120px;
}

#allow_order {
    background-color:rgba(0, 141, 46, 0.9);
    border:none;
    color:#fff;
    padding:5px 10px;
    margin-left:30px;
    margin-top:30px;
    margin-right:10px;
    cursor:pointer;
}

#reject_order {
    background-color:rgba(252, 0, 53, 0.9);
    border:none;
    color:#fff;
    padding:5px 10px;
    margin-top:30px;
    cursor:pointer;
}

#alloworreject {
    margin-bottom:30px;
}

.pagination {
    margin-top:30px;
    margin-left:30px;
}

.pagination ul {
    list-style:none;
}

.pagination ul li {
    display:inline-block;
    text-align:center;
    line-height:25px;
    margin-right:10px;
    width:25px !important;
    height:25px !important;
    cursor:pointer;
}

.pagination ul li a {
    font-size:14px;
    vertical-align:middle;
    color:#fff;
    text-decoration:none;
    padding:7px;
    background-color:#0c313a;
}

.pagination ul li a:hover {
    background-color:#ff8400;
}

.pagination ul li a.page_active {
    background-color:#ff8400;
}


.art_list {
    list-style:none;
    margin-bottom:60px;
}

.art_list li{
    position:relative;
    margin-bottom:20px;
}

.art_more {
    position:absolute;
    right:30px;
    top:15px;
    margin-right:30px;
    background-color:#0c313a;
    padding:3px 5px;
    color:#fff;
    font-size:12px;
    cursor:pointer;
    text-decoration:none;
}

.art_more:hover {
    background-color:#ff8400;
}

.art_date {
    font-size:12px;
    color:#5f5f5f;
    margin-left:30px;
    margin-top:7px;
}

.art_title {
    margin-top:5px;
    margin-left:40px;
    margin-bottom:5px;
    font-size:16px;
    font-weight:500;
}

.art_title span {
    font-weight:500;
}

#article label {
    margin-left:30px;
}

.change_block_title {
    float:right;
    margin-right:30px;
    margin-left:50px !important;
    font-size:14px;
    cursor:pointer;
}

.save_block_title {
    float:right;
    margin-right:30px;
    margin-left:50px !important;
    font-size:14px;
    cursor:pointer;
}

#article_mini_title {
    margin-left:30px;
    margin-top:10px;
    margin-bottom:30px;
    height:25px;
    width:390px;
    padding-left:10px;
    font-size:16px;
    outline:none;
}

#article_title {
    margin-left:30px;
    margin-top:10px;
    height:25px;
    width:390px;
    padding-left:10px;
    font-size:16px;
    outline:none;
} 

#article_button {
    float:right;
    margin-top:80px;
    margin-right:30px;
    color:#fff;
    background-color:#0c313a;
    border:none;
    text-decoration:none;
    height:41px;
    padding:0 20px;
    font-weight:400;
    cursor:pointer;
    outline:none;
}
#article_button:hover {
    background-color:#ff8400;
}

#article_delete {
    float:right;
    margin-top:80px;
    margin-right:30px;
    color:#fff;
    background-color:rgba(252, 0, 53, 0.9);
    border:none;
    text-decoration:none;
    height:41px;
    padding:0 20px;
    font-weight:400;
    cursor:pointer;
    outline:none;
}

.new_article {
    margin-left:30px;
    margin-top:-20px;
    color:#000;
}

#center_version {
    margin-left:30px;
    margin-top:10px;
}

.canter_parametr {
    margin-left:30px;
    margin-top:5px;
}

.canter_parametr span {
    font-weight:500;
    position:absolute;
    left:500px;
}

.order_product_header li.center_date {
    padding-left:10px;
    width:100px;
}
.order_product_header li.center_title {
    text-align:left;
    padding-left:30px;
    width:430px;
}
.order_product_header li.center_count {
    padding-left:5px;
    width:60px;
}
.order_product_header li.center_price {
    padding-left:10px;
    width:100px;
}

.order_product_header li.center_status {
    padding-left:30px;
    width:120px;
}

.center_product_list {
    margin-left:30px;
    margin-bottom:10px;
    list-style:none;
}

.center_product_list li div{
    display:inline-block;
    height:35px;
    line-height:35px;
    vertical-align:middle;
}

.center_product_list li div.center_date_div {
    padding-left:10px;
    width:100px;
}

.center_product_list li div.center_title_div {
    padding-left:30px;
    width:430px;
}

.center_product_list li div.center_count_div {
    padding-left:5px;
    width:60px;
}

.center_product_list li div.center_price_div {
    padding-left:10px;
    width:100px;
}

.center_product_list li div.center_status_div {
    padding-left:30px;
    width:120px;
}

.center_product_list li div.center_title_div a {
    color:#000;
}

.ok {
    font-weight:500;
    color:rgba(0, 141, 46, 0.9);
}

.not_ok {
    font-weight:500;
    color:rgba(252, 0, 53, 0.9);
}

.change_block {
    margin-left:190px;
    width:300px;
    padding-left:30px;
    height:25px;
    line-height:25px;
    vertical-align:middle;
    display:none;
}

#new_template {
    margin-left:30px;
    background-color:#0c313a;
    padding:10px 10px;
    font-size:14px;
    color:#fff;
    cursor:pointer;
}

#new_template:hover {
    background-color:#ff8400;
}

#new_template_div form {
    float:left;
}

#new_template_div {
    display:none;
}
